extends templates/layout

mixin Timeline(type, items)
	div(class='timeline ' + type)
		div.timeline__content
			for value in items
				div.timeline__item
					div.timeline__item__header
						h4!= value.title
						h6
							span
								i(class="fa fa-globe")
								|  #{value.country}
							span
								i(class="fa fa-calendar-o")
								|  #{value.date}
					p!= value.desc

block append Variables
	- var Title = "Daniel Green";
	- var ActiveMenu = "About";

block PageContent
	-
		var TechSkills = [
			{title: "C++", percent: "90", delay: "100"},
			{title: "C#", percent: "85", delay: "200"},
			{title: "Python", percent: "80", delay: "300"},
			{title: "HTML/CSS/JS", percent: "75", delay: "400"},
		];
	-
		var CreativeSkills = [
			{title: "Maya", percent: "90", delay: "100"},
			{title: "3ds Max", percent: "85", delay: "200"},
			{title: "Illustrator", percent: "80", delay: "300"},
			{title: "NUKE", percent: "75", delay: "400"},
		];
	
	-
		var SocialSites = {
			'linkedin': 'https://uk.linkedin.com/in/kasumil5x',
			'twitter': 'https://twitter.com/KasumiL5x',
			'github': 'https://github.com/kasumil5x',
			'bitbucket': 'https://bitbucket.org/kasumil5x/'
		};

	div.ng-container.about
		div.about__title: h1 Who Am I

		div.about__content
			h1 Daniel Green
			h3 Technical Artist &amp; Web Developer
			p I am a naturally inquisitive programmer and artist.  My primary areas of interest are rigging, tools development, compositing, and creative pipelines.  I also occasionally work with various web technologies.  I love to teach and live to learn.
			//- 
			div.social
				each link, site in SocialSites
					a(href=link, target="_blank", class="social__item " + site)
						i(class="fa fa-" + site)
			//- 
			div.resume-button-wrapper
				a(href="http://ngreen.org/resume_dl/resume.pdf")
					div.resume-button
						span Download Resume

		//- BEGIN Professional Skills
		div.about__title: h1 Professional Skills
		div.about__content
			div.skills-list
				for value in TechSkills
					h4 #{value.title}
					div.ng-progress-container.ng-shadowed
						div.ng-progress.ng-animated.technical(ng-percent=value.percent, ng-delay=value.delay, ng-duration="1000")
				ul.other-skills
					li MEL
					li #[b &middot;]
					li MAXScript
					li #[b &middot;]
					li JAVA
					li #[b &middot;]
					li LATEX
					li #[b &middot;]
					li ETC.
				h1 Technical
			div.skills-list
				for value in CreativeSkills
					h4 #{value.title}
					div.ng-progress-container.ng-shadowed
						div.ng-progress.ng-animated.creative(ng-percent=value.percent, ng-delay=value.delay, ng-duration="1000")
				ul.other-skills
					li PHOTOSHOP
					li #[b &middot;]
					li AFTER EFFECTS
					li #[b &middot;]
					li CAMERA WORK
					li #[b &middot;]
					li COMPOSITING
					li #[b &middot;]
					li ETC.
				h1 Creative
		//- END Professional Skills

		//- BEGIN Experience
		div.about__title: h1 Experience
		div.about__content
			+Timeline("experience", [
				{
					title: "PhD Candidate &#8210; Bournemouth University",
					country: "England, UK",
					date: "Sep 2017 - Now",
					desc: "Exploring structure of interactive narrative and creating new authoring methods."
				},
				{
					title: "Part-Time Lecturer &#8210; Bournemouth University",
					country: "England, UK",
					date: "Sep 2017 - Now",
					desc: "Teaching alongside my PhD in technical and creative subjects."
				},
				{
					title: "Technical Artist/Rigger &#8210; Q-Games",
					country: "Kyoto, Japan",
					date: "Mar 2017 - Jul 2017",
					desc: "Bridging art and tech teams.  Designing and developing internal custom toolsets.  Shaders and effects.  Rigging development and testing.  All around Renaissance Man."
				},
				{
					title: "Part-Time Lecturer &#8210; Teesside University",
					country: "England, UK",
					date: "Feb 2015 - Feb 2017",
					desc: "Alongside studying a full-time Master's degree, I assisted in teaching various modules of which included 3D graphics programming, physics programming, Unity, Unreal Engine 4, team-based game jams, 3D modeling, games history, and research-oriented classes.  These spanned games programming, design, and art pathways.  I also created and lead MEL and Python scripting workshops for final year students."
				},
				{
					title: "Technical Artist &#8210; Vitei",
					country: "Kyoto, Japan",
					date: "Apr 2014 - Dec 2014",
					desc: "I made tools for artists and ensure they can operate smoothly, looking for new technologies which can ease their job. I made tools to smooth the pipeline, too. I also sometimes created art. I sometimes programmed gameplay, sometimes graphics."
				},
				{
					title: "Researcher &#8210; ISCAS",
					country: "Beijing, China",
					date: "Jul 2013 - Sep 2013",
					desc: "A short-term research project at the Institute of Software Chinese Academy of Sciences.  Developed a real-time solution for simulation, interaction, and separation of layers within multi-layered materials."
				}
			])
		//- END Experience

		//- BEGIN Education
		div.about__title: h1 Education
		div.about__content
			+Timeline("education", [
				{
					title: "MA Computer Animation and Visual Effects &#8210; Distinction",
					country: "Teesside University",
					date: "Feb 2016 - Sep 2016",
					desc: "Studied various aspects of visual effects.  I chiefly focused on pipeline development, tools, rigging, modeling, and motion capture.  There was also significant work in traditional compositing (camera operation, green screen, tracking, and so on) requiring the rapid familiarization of a number of industry-standard software packages and hardware.  My thesis is available <a href=\"http://ngreen.org/projects_dl/masters_thesis/thesis.pdf\">here</a>."
				},
				{
					title: "MSc Computing &#8210; PGC",
					country: "Teesside University",
					date: "2015 - 2016",
					desc: "Covered research methods, pattern-driven development, software engineering processes.  This was a half-course resulting in a PGC."
				},
				{
					title: "BSc Computer Games Programming &#8210; First",
					country: "Teesside University",
					date: "2010 - 2013",
					desc: "Covered essential and advanced aspects of games development, such as real-time graphics, physics programming, animation and simulation programming, low-level device programming, and engine design."
				},
				{
					title: "BTEC ND Games Design Level 3 - DDM",
					country: "Middlesbrough College",
					date: "2008 - 2010",
					desc: "Introduction to the essentials of games development and design."
				}
			])
		//- END Education

		//- BEGIN Publications
		a(name="publications")
		div.about__title: h1 Publications
		div.about__content
			p Cross-Platform Cloth Simulation API for Games (<a href="http://ngreen.org/publications_dl/24-Cross-platform Cloth Simulation API-for Games.pdf">PDF</a>) - Edutainment 2016 (<a href="http://link.springer.com/chapter/10.1007%2F978-3-319-40259-8_20" target="_blank" class="ng-external-link">Springer</a>)
			p Interactive Thin Elastic Materials for Virtual Reality Applications (<a href="http://ngreen.org/publications_dl/interactive-thin-elastic-materials-dgreen-wtang-2013.pdf">PDF</a>)
		//- END Publications
