extends templates/layout

mixin MakePortfolio(filters, items)
	div.portfolio-filter
		for value, i in filters
			a(href="#", data-filter=value.filter, class=(i === 0 ? "current" : "")) #{value.text}
			if (filters.length-1 != i )
				//- | /
	div.items-wrapper.ng-row.ng-row-wrap
		for value in items
			figure(data-categories=value.categories).ng-column
				div.content
					img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="ng-responsive-img" data-sizes="auto" data-src=value.image)
				div.overlay
					a(href=value.link): i(class="fa fa-search")

block append Variables
	- var Title = "Portfolio | Daniel Green";
	- var ActiveMenu = "Portfolio";

block append Meta

block append Scripts
	//- todo: scripts here

block append Styles
	//- todo: styles here

block PageContent
	section.ng-container.portfolio
		div.portfolio-title
			h1 Other Projects
		p A number of my projects, including those not listed below, are available on either my #[+ExternalLink("https://github.com/kasumil5x", "Github")] or #[+ExternalLink("https://bitbucket.org/kasumil5x/", "BitBucket")].  Some projects use GIT and others use Mercurial, so please check both.  Rarely do I post 3D models, but I sometimes upload tests to my #[+ExternalLink("https://sketchfab.com/kasumil5x", "Sketchfab")].

		div.portfolio-title
			h1 Selected Works

		+MakePortfolio([
			{text: "All", filter: "*"},
			{text: "Design", filter: "design"},
			{text: "Maya", filter: "maya"}
		], [
			{
				categories: "maya",
				image: "./img/portfolio/atom/atom.png",
				link: "./portfolio/atom.html"
			},
			{
				categories: "design",
				image: "./img/portfolio/kanaswap/kanaswap.png",
				link: "./portfolio/kanaswap.html"
			},
			{
				categories: "maya",
				image: "./img/portfolio/hadan/hadan.png",
				link: "./portfolio/hadan.html"
			},
			{
				categories: "",
				image: "./img/portfolio/ciri/ciri.jpg",
				link: "./portfolio/ciri.html"
			},
			{
				categories: "maya",
				image: "./img/portfolio/ta-showreel/showreel.jpg",
				link: "./portfolio/tashowreel15.html"
			},
			{
				categories: "",
				image: "./img/portfolio/flashwater/flash-water-sim.jpg",
				link: "./portfolio/flashwater.html"
			},
			{
				categories: "",
				image: "./img/portfolio/nuketools/nuketools.jpg",
				link: "./portfolio/nuketools.html"
			},
			{
				categories: "",
				image: "./img/portfolio/multires-cloth/multires-cloth.jpg",
				link: "./portfolio/multires-cloth.html"
			},
			{
				categories: "maya",
				image: "./img/portfolio/regexreplacer/RegexReplacer.png",
				link: "./portfolio/regexreplacer.html"
			},
			{
				categories: "maya",
				image: "./img/portfolio/cageedit/CageEdit.png",
				link: "./portfolio/cageedit.html"
			},
			{
				categories: "maya",
				image: "./img/portfolio/animcurvetb/AnimCurveToolbox.png",
				link: "./portfolio/animcurvetb.html"
			},
			{
				categories: "maya",
				image: "./img/portfolio/mayavp2renderer/maya-renderer.jpg",
				link: "./portfolio/maya-vp2-renderer.html"
			},
			{
				categories: "",
				image: "./img/portfolio/uni-translucency/rtt-dragon.jpg",
				link: "./portfolio/uni-translucency.html"
			},
			{
				categories: "",
				image: "./img/portfolio/uni-shooter/3d-shooter.jpg",
				link: "./portfolio/uni-shooter.html"
			},
			{
				categories: "",
				image: "./img/portfolio/uni-physics/physics-sim.jpg",
				link: "./portfolio/uni-physics.html"
			},
			{
				categories: "",
				image: "./img/portfolio/fullscreenizer/fullscreenizer.png",
				link: "./portfolio/fullscreenizer.html"
			}
		])
