extends templates/layout

mixin MakePortfolio(filters, items)
	section.ng-container.portfolio
		div.portfolio-filter
			for value, i in filters
				a(href="#", data-filter=value.filter, class=(i === 0 ? "current" : "")) #{value.text}
				if (filters.length-1 != i )
					| /
		div.items-wrapper.ng-row.ng-row-wrap
			for value in items
				figure(data-categories=value.categories).ng-column
					div.content
						img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="ng-responsive-img" data-sizes="auto" data-src=value.image)
						div.overlay
							a(href=value.link): i(class="fa fa-search")
					div.description
						p: <strong>#{value.title}</strong> #{value.desc}
						//- h3 #{value.title}
						//- p #{value.desc}

block append Variables
	- var Title = "Portfolio | Daniel Green";
	- var ActiveMenu = "Portfolio";

block append Meta

block append Scripts
	//- todo: scripts here

block append Styles
	//- todo: styles here

block PageContent
	+MakePortfolio([
		{text: "All", filter: "*"},
		{text: "Design", filter: "design"},
		{text: "Programming", filter: "programming"}
	], [
		{
			categories: "programming",
			image: "./img/portfolio/github.png",
			link: "https://github.com/kasumil5x",
			title: "GitHub",
			desc: "All of my open-source git projects are hosted here."
		},
		{
			categories: "programming",
			image: "./img/portfolio/bitbucket.png",
			link: "https://bitbucket.org/kasumil5x/",
			title: "Bitbucket",
			desc: "All of my open-source git and mercurial projects are hosted here."
		},
		{
			categories: "programming",
			image: "./img/portfolio/atom.png",
			link: "./portfolio/atom.html",
			title: "Atom",
			desc: "Atom is an API to transfer 3D Maya scenes over networks in real-time."
		},
		{
			categories: "programming design",
			image: "./img/portfolio/kanaswap.png",
			link: "./portfolio/kanaswap.html",
			title: "KanaSwap",
			desc: "A mobile and desktop app for beginners to study Japanese kana."
		},
		{
			categories: "programming",
			image: "./img/portfolio/hadan.jpg",
			link: "./portfolio/hadan.html",
			title: "Hadan",
			desc: "A tool for Maya to fracture geometry."
		},
		{
			categories: "programming design",
			image: "./img/portfolio/ciri.jpg",
			link: "./portfolio/ciri.html",
			title: "Ciri",
			desc: "My personal, perpetually-developed framework."
		},
		{
			categories: "programming",
			image: "./img/portfolio/showreel.jpg",
			link: "./portfolio/tashowreel15.html",
			title: "Showreel",
			desc: "My showreel from University August-November 2015.."
		},
		{
			categories: "programming design",
			image: "./img/portfolio/flash-water-sim.jpg",
			link: "./portfolio/flashwater.html",
			title: "Water Simulation",
			desc: "3D water simulation using Flash and Actionscript 3."
		},
		{
			categories: "programming",
			image: "./img/portfolio/nuketools/nuketools.jpg",
			link: "./portfolio/nuketools.html",
			title: "Nuketools",
			desc: "A collection of tools for Nuke."
		}
	])
