block PathVariable
	- var Path = "./";

block Variables
	- var Title = "Default";
	- var Menu = { "About": Path+"about.html", "Portfolio": Path+"portfolio.html", "Articles": Path+"articles.html" };
	- var ActiveMenu = "About";

include mixins

doctype html
html
	head
		block Meta
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1')

		//- page scripts
		block Scripts
		script(defer src=Path + "js/jquery-3.1.0.min.js")
		script(defer src=Path + "js/application.js")

		//- page css
		block Styles
			link(href=Path + "css/font-awesome.min.css", rel="stylesheet")
			link(href=Path + "css/application.css", rel="stylesheet")

		title #{Title}
	body
		div.preloader
			div.orbit
		div.header
			div.header__box
				div.header__logo
					//- a(href="#"): | Daniel Green
					a(href=Path+"index.html"): img(src=Path+"./img/dg.png")
				button.ng-button-clear.header__mobile-nav-toggle: span
				nav.header__nav.closed
					ul
						for value, key in Menu
							li: a(href=value, class="header__nav__item " + (ActiveMenu === key ? "active" : "")): span #{key}
		div.main
			div.page-content
				block PageContent
