extends ../templates/article

block append Variables
	- var Title = "Regex Replacer | Daniel Green";

block ArticleContent
	h3.title Regex Replacer

	p Sometimes in Maya, you will need to perform a multitude of rename operations that exceed in complexity the toolset that vanilla Maya provides for such scenarios. When such a case arises, it is not uncommon to create a one-time script, or even resort to renaming manually. Coincidentally, #[+ExternalLink("https://en.wikipedia.org/wiki/Regular_expression", "regular expressions")] are especially proficient in pattern matching and can therefore be used to aid in string substitution. Enter Regex Replacer. This tool aims to allow for renaming of Maya objects based on pattern matching using regular expressions. If you are well versed in regular expressions (unlike myself), Regex Replacer can take a previously tedious task and make it a walk in the park, removing the need for one-time scripts and excessive manual labor.

	a(rel="lightbox" href="../img/portfolio/regexreplacer/interface.png"): img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="../img/portfolio/regexreplacer/interface.png" class="ng-responsive-img" data-sizes="auto")

	h3.heading Usage
	p If you are uncertain of what regular expressions are, please take the time to study the basics before using this tool, otherwise its functionality will not be clear.
	p The top half of the window, grouped as Filter, are the source objects upon which the pattern matching for name replacement will take place. The three radio buttons allow for filtering of the objects to include within the list; All will include the entire scene, Selected will exclude those not in the active selection, and Regex will allow for the source objects to be filtered based on an expression. Note that this list does not automatically update, so the Refresh button should be clicked in order to do so. This feature could easily be added with Maya callbacks, but I had no need for it.
	p The bottom half of the window, grouped as Replace, is the pattern matching and preview section. The Regex field is the regular expression of which will be used for pattern matching. The following Text field is the replacement string that will be substituted using the above regular expression pattern for each filtered object (of which we have previously discussed in the former paragraph). The list below contains a preview of the result of a potential rename operation using both the provided regular expression and replacement string. The list is automatically updated when either the expression or replacement string are modified. As the replacement process could generate a potentially alien name to Maya, any invalid names are automatically corrected for without affecting the expression or replacement string. Finally, the Replace button commits the changes to the scene.

	h3.heading Notes
	p All renames are grouped into a chunk, and therefore a single undo can reverse the rename operations, regardless of the count.
	p This plugin uses #[+ExternalLink("https://docs.python.org/2/library/re.html", "Python’s re library")], and therefore any rules about substitution, such as the format for groups, applies here, too.

	h3.heading Source Code
	p Below is the source code for the script, licensed under #[a(href="http://www.mit.ngreen.org/") MIT].  Execute it from Maya's script editor or add it to a Python shelf button.
	pre: code.language-python.line-numbers.ng-no-border
		| import sys
		| import re
		| from PySide import QtCore, QtGui
		| import maya.cmds as cmds
		| import maya.mel as mel
		| 
		| class RegexReplacer(QtGui.QMainWindow):
		| 	def __init__(self):
		| 		super(RegexReplacer, self).__init__()
		| 		self.__build_ui()
		| 		self.__refresh_filter_and_preview(True)
		| 	#end
		| 
		| 	def __get_all_objects(self):
		| 		short_names = cmds.ls(shortNames=True) # we search these
		| 		long_names = cmds.ls(long=True) # we use these to ensure the right object is changed
		| 		self.__all_objects = zip(short_names, long_names)
		| 	#end
		| 
		| 	def __is_filtering_all_objects(self):
		| 		return self.rb_filter_all.isChecked()
		| 	#end
		| 
		| 	def __is_filtering_selected_objects(self):
		| 		return self.rb_filter_selected.isChecked()
		| 	#end
		| 
		| 	def __update_filtered_objects(self):
		| 		self.__filtered_objects = []
		| 		if self.__is_filtering_all_objects():
		| 			self.__filtered_objects = self.__all_objects
		| 		elif self.__is_filtering_selected_objects():
		| 			# essentially repeat the process for getting all but for selected, kinda crappy code, but ehh, it works
		| 			short_names = []
		| 			for curr in cmds.ls(sl=True, shortNames=True):
		| 				if '|' not in curr:
		| 					short_names.append(curr)
		| 				else:
		| 					last_line_idx = curr.rfind('|')+1
		| 					short_names.append(curr[last_line_idx:])
		| 			long_names = cmds.ls(sl=True, long=True)
		| 			self.__filtered_objects = zip(short_names, long_names)
		| 		else:
		| 			regex_string = self.txt_filter_regex.text()
		| 			for curr in self.__all_objects:
		| 				if (re.search(regex_string, curr[0]) != None):
		| 					self.__filtered_objects.append(curr)
		| 	#end
		| 
		| 	def __update_filter_list(self):
		| 		self.lb_filter.clear()
		| 		for curr in self.__filtered_objects:
		| 			self.lb_filter.addItem(curr[0])
		| 	#end
		| 
		| 	def __refresh_filter(self, rebuild):
		| 		if rebuild:
		| 			self.__get_all_objects()
		| 		self.__update_filtered_objects()
		| 		self.__update_filter_list()
		| 	#end
		| 
		| 	def __update_preview_objects(self):
		| 		self.__preview_objects = []
		| 		regex_string = self.txt_replace_regex.text()
		| 		replace_text = self.txt_replace_text.text()
		| 		for curr in self.__filtered_objects:
		| 			replaced_short_name = re.sub(regex_string, replace_text, curr[0])
		| 			short_name = mel.eval('formValidObjectName(\&quot;{0}\&quot;);'.format(replaced_short_name)) # ensure the regex'd string is valid
		| 			long_name = curr[1] # we need this to replace it, so just pass it through
		| 			self.__preview_objects.append((short_name, long_name))
		| 	#end
		| 
		| 	def __update_preview_list(self):
		| 		self.lb_preview.clear()
		| 		for curr in self.__preview_objects:
		| 			self.lb_preview.addItem(curr[0])
		| 	#end
		| 
		| 	def __refresh_preview(self):
		| 		self.__update_preview_objects()
		| 		self.__update_preview_list()
		| 	#end
		| 
		| 	def __refresh_filter_and_preview(self, rebuild):
		| 		self.__refresh_filter(rebuild)
		| 		self.__refresh_preview()
		| 	#end
		| 
		| 	def __filter_regex_changed(self):
		| 		self.rb_filter_regex.setChecked(True)
		| 		self.__refresh_filter_and_preview(False)
		| 	#end
		| 
		| 	def __replace_names(self):
		| 		num_preview_objs = len(self.__preview_objects)
		| 
		| 		# don't process if there's no objects
		| 		if not num_preview_objs:
		| 			cmds.warning('RegexReplacer: No objects to rename.')
		| 			return
		| 
		| 		# ask the user for confirmation and include the total number of objects to assist with sanity checking
		| 		dialog_msg = 'Confirm rename of ' + str(num_preview_objs) + ' objects?'
		| 		result = cmds.confirmDialog(title='Regex Replacer', message=dialog_msg, button=['Yes', 'No'], defaultButton='Yes', cancelButton='No', dismissString='No')
		| 		if 'No' == result:
		| 			cmds.warning('RegexReplacer: User canceled rename operation.')
		| 			return
		| 
		| 		# shove all the undos in a chunk so the user can undo them all in one go
		| 		cmds.undoInfo(openChunk=True, chunkName='RegexReplacerRename')
		| 
		| 		# note that we iterate here in reverse so that the long names don't become corrupted.
		| 		# this works because maya's ls command retrieves objects in their hierarchical order.
		| 		for curr in self.__preview_objects[::-1]:
		| 			cmds.rename(curr[1], curr[0]) # rename long name (unmodified) with regex'd short name
		| 
		| 	 	# end the undo chunk or maya can become unstable (lol...)
		| 	 	cmds.undoInfo(closeChunk=True)
		| 
		| 	 	# refresh everything since the objects changed
		| 	 	self.__refresh_filter_and_preview(True)
		| 
		| 		cmds.warning('RegexReplacer: Successfully renamed ' + str(num_preview_objs) + ' objects!')
		| 	#end
		| 
		| 	def __build_ui(self):
		| 		self.setObjectName(&quot;self&quot;)
		| 		self.resize(402, 651)
		| 		self.setWindowTitle(&quot;Regex Replacer&quot;)
		| 		self.gb_filter = QtGui.QGroupBox(self)
		| 		self.gb_filter.setGeometry(QtCore.QRect(10, 10, 381, 291))
		| 		self.gb_filter.setObjectName(&quot;gb_filter&quot;)
		| 		self.gb_filter.setTitle(&quot;Filter&quot;)
		| 		self.rb_filter_all = QtGui.QRadioButton(self.gb_filter)
		| 		self.rb_filter_all.setGeometry(QtCore.QRect(10, 20, 41, 17))
		| 		self.rb_filter_all.setCheckable(True)
		| 		self.rb_filter_all.setChecked(True)
		| 		self.rb_filter_all.setObjectName(&quot;rb_filter_all&quot;)
		| 		self.rb_filter_all.setText(&quot;All&quot;)
		| 		self.rb_filter_all.toggled.connect(lambda: self.__refresh_filter_and_preview(True))
		| 		self.rb_filter_selected = QtGui.QRadioButton(self.gb_filter)
		| 		self.rb_filter_selected.setGeometry(QtCore.QRect(50, 20, 71, 17))
		| 		self.rb_filter_selected.setCheckable(True)
		| 		self.rb_filter_selected.setChecked(False)
		| 		self.rb_filter_selected.setObjectName(&quot;rb_filter_selected&quot;)
		| 		self.rb_filter_selected.setText(&quot;Selected&quot;)
		| 		self.rb_filter_selected.clicked.connect(lambda: self.__refresh_filter_and_preview(True))
		| 		self.rb_filter_regex = QtGui.QRadioButton(self.gb_filter)
		| 		self.rb_filter_regex.setGeometry(QtCore.QRect(120, 20, 51, 17))
		| 		self.rb_filter_regex.setCheckable(True)
		| 		self.rb_filter_regex.setChecked(False)
		| 		self.rb_filter_regex.setObjectName(&quot;rb_filter_regex&quot;)
		| 		self.rb_filter_regex.setText(&quot;Regex&quot;)
		| 		self.rb_filter_regex.toggled.connect(lambda: self.__refresh_filter_and_preview(True))
		| 		self.txt_filter_regex = QtGui.QLineEdit(self.gb_filter)
		| 		self.txt_filter_regex.setGeometry(QtCore.QRect(180, 20, 191, 20))
		| 		self.txt_filter_regex.setObjectName(&quot;txt_filter_regex&quot;)
		| 		self.txt_filter_regex.textChanged.connect(self.__filter_regex_changed)
		| 		self.lb_filter = QtGui.QListWidget(self.gb_filter)
		| 		self.lb_filter.setGeometry(QtCore.QRect(10, 50, 361, 192))
		| 		self.lb_filter.setObjectName(&quot;lb_filter&quot;)
		| 		self.btn_refresh = QtGui.QPushButton(self.gb_filter)
		| 		self.btn_refresh.setGeometry(QtCore.QRect(10, 250, 361, 31))
		| 		self.btn_refresh.setObjectName(&quot;btn_refresh&quot;)
		| 		self.btn_refresh.setText(&quot;Refresh&quot;)
		| 		self.btn_refresh.clicked.connect(lambda: self.__refresh_filter_and_preview(True))
		| 		self.gb_replace = QtGui.QGroupBox(self)
		| 		self.gb_replace.setGeometry(QtCore.QRect(10, 310, 381, 321))
		| 		self.gb_replace.setObjectName(&quot;gb_replace&quot;)
		| 		self.gb_replace.setTitle(&quot;Replace&quot;)
		| 		self.txt_replace_regex = QtGui.QLineEdit(self.gb_replace)
		| 		self.txt_replace_regex.setGeometry(QtCore.QRect(50, 20, 321, 20))
		| 		self.txt_replace_regex.setObjectName(&quot;txt_replace_regex&quot;)
		| 		self.txt_replace_regex.textChanged.connect(self.__refresh_preview)
		| 		self.lb_preview = QtGui.QListWidget(self.gb_replace)
		| 		self.lb_preview.setGeometry(QtCore.QRect(10, 80, 361, 192))
		| 		self.lb_preview.setObjectName(&quot;lb_preview&quot;)
		| 		self.lbl_replace = QtGui.QLabel(self.gb_replace)
		| 		self.lbl_replace.setGeometry(QtCore.QRect(10, 22, 31, 16))
		| 		self.lbl_replace.setObjectName(&quot;lbl_replace&quot;)
		| 		self.lbl_replace.setText(&quot;Regex&quot;)
		| 		self.lbl_text = QtGui.QLabel(self.gb_replace)
		| 		self.lbl_text.setGeometry(QtCore.QRect(10, 50, 31, 16))
		| 		self.lbl_text.setObjectName(&quot;lbl_text&quot;)
		| 		self.lbl_text.setText(&quot;Text&quot;)
		| 		self.txt_replace_text = QtGui.QLineEdit(self.gb_replace)
		| 		self.txt_replace_text.setGeometry(QtCore.QRect(50, 48, 321, 20))
		| 		self.txt_replace_text.setObjectName(&quot;txt_replace_text&quot;)
		| 		self.txt_replace_text.textChanged.connect(self.__refresh_preview)
		| 		self.btn_replace = QtGui.QPushButton(self.gb_replace)
		| 		self.btn_replace.setGeometry(QtCore.QRect(10, 280, 361, 31))
		| 		self.btn_replace.setObjectName(&quot;btn_replace&quot;)
		| 		self.btn_replace.setText(&quot;Replace&quot;)
		| 		self.btn_replace.clicked.connect(self.__replace_names)
		| 		self.lbl_website = QtGui.QLabel(self)
		| 		self.lbl_website.setGeometry(QtCore.QRect(300, 630, 91, 16))
		| 		self.lbl_website.setObjectName(&quot;lbl_website&quot;)
		| 		self.lbl_website.setText(&quot;www.ngreen.org&quot;)
		| 
		| 		QtCore.QMetaObject.connectSlotsByName(self)
		| 		self.setTabOrder(self.rb_filter_all, self.rb_filter_regex)
		| 		self.setTabOrder(self.rb_filter_regex, self.txt_filter_regex)
		| 		self.setTabOrder(self.txt_filter_regex, self.btn_refresh)
		| 		self.setTabOrder(self.btn_refresh, self.txt_replace_regex)
		| 		self.setTabOrder(self.txt_replace_regex, self.txt_replace_text)
		| 		self.setTabOrder(self.txt_replace_text, self.btn_replace)
		| 		self.setTabOrder(self.btn_replace, self.lb_filter)
		| 		self.setTabOrder(self.lb_filter, self.lb_preview)
		| 
		| 		self.show()
		| 		self.raise_()
		| 	#end
		| #end
		| 
		| def main():
		| 	app = QtGui.QApplication.instance()
		| 	if not app:
		| 		app = QtGui.QApplication(sys.argv)
		| 		app.aboutToQuit.connect(app.deleteLater)
		| 	global regex_replacer
		| 	regex_replacer = RegexReplacer()
		| 	sys.exit(app.exec_())
		| #end
		| 
		| if __name__ == '__main__':
		| 	main()
		| #end
